<%= render partial: 'job_listings/job_listing_header', locals: { job_listing: @job_listing, active_tab: :interviews } %>

<section class="light-bg">
  <div class="content">
    <div class="content-container">
      <div class="heading-center">
        <h3 class="section-header">Interviews</h3>
        <span class="btn"><%= link_to 'Create New', new_job_listing_interview_path(@job_listing) %></span>
      </div>

      <% if @job_listing.interviews.present? %>
        <div class="interview-listing-container">
          <%= render @job_listing.interviews.order(:scheduled_at) %>
        </div>
      <% end %>
    </div>

  </div>
</section>