<div class="comment">
  <p class="comment-value">
    Lorem ipsum dolor sit amet, vis ut alii exerci, nec ei sensibus iudicabit. Ut malorum omittam intellegebat vix. Id mel porro nusquam pericula, quo veniam probatus ex. At his partem perpetua democritum. Eam ex discere phaedrum, per te viris copiosae. Iusto mucius putent vel te, porro scripserit pro ex. Putant volumus apeirian ex est.

    Ut nec consequat prodesset, epicurei tincidunt percipitur eos in. Mea nominavi mnesarchum temporibus ea. Nam stet postea feugiat ea, mea et enim aliquando torquatos. Debet mucius conceptam an mei, est error decore te. Eu legimus epicuri necessitatibus quo, sed at integre ponderum, mea nullam dicunt te.
  </p>

  <p class="comment-details">Posted <%= time_ago_in_words(Time.now.to_s) %> ago</p>
</div>