<%= provide(:title, 'Job Listings') %>

<div class="heading-center">
  <h1>Job Listings</h1>

  <span class="btn"><%= link_to 'Create New', new_job_listing_path %></span>
</div>

<div class="content-container">
  <div class="content">

    <form id="filter-option">
      <%= select_tag :filter, grouped_options_for_select(filter_options, params[:filter]), { multiple: true, class: 'chosen-select' } %>

      <p><a href="#" class="clear-all">Clear</a></p>
    </form>
  </div>
</div>


<% if @job_listings.present? %>
  <section class="light-bg">
    <div class="listing-container">
      <%= render @job_listings %>
    </div>

  </section>
<% end %>