

.interview-listing-container {
  width: 100%;
  border: 1px solid #DADDE0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px;
}

.interview-listing {
  margin: 0;
  border-bottom: 1px solid #DADDE0;
  background-color: #fff;
  height: 3em;
  vertical-align: middle;
  line-height: 3em;
  text-align: center;
}

.interview-listing a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #666;
}

.interview-listing:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.interview-listing:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.interview-listing:last-child {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.interview-listing span {
  padding: 0 10px;
}

.interview-listing .scheduled-at {
  float: left;
}