

.heading-left h1 {
  color: #000;
  font-size: 24pt;
  font-weight: bold;
}

.listing-container {
  margin: 30px auto;
  padding: 0 80px;
  text-align:center;
}

.listing {
  box-shadow: 5px 5px 5px grey;
  background: #fff;
  height: 300px;
  width: 300px;
  display:inline-block;
  margin: 10px;
  text-align: left;
  vertical-align: middle;
}

.listing-header {
  text-align: center;
  line-height: 2em;
  margin: 10px;
}

.listing-header span {
  font-size: 14pt;
}

.listing-title {
  display: block;
  float: left;
  margin-left: 10px;
  width: 200px;
}

.listing-favorite {
  display: block;
  right: 0;
  float: right;
  width: 50px;
  color: #01bf86;
}

.listing-description {
  height: 190px;
  margin: 10px 20px;
  overflow: hidden;
}

.company {
  color: #999999;
  text-align: center;
  margin: 10px;
}

.listing a {
  width: 230px;
  color: #127FBF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.application {
  margin-bottom: 20px;
  max-width: 400px;
}

h3.section-header {
  font-size: 16pt;
  margin: 10px 0;
  color: #127FBF;
}

.full-description {
  margin-bottom: 30px;
}

.listing-nav ul {
  margin: 0;
}

.listing-nav li {
  list-style-type: none;
  display: inline-block;
}

.listing-nav a {
  background-color: #f3f6fa;
  color: #666;
  display: block;
  padding: 10px;
}

.listing-nav li a:hover {
  background-color: #0F689C;
  color: #fff;
}

li.active a {
  background-color: #127FBF;
  color: #fff;
}

// comments

.field textarea {
  background-color: transparent;
  resize: none;
  padding: 15px;
  width: 400px;
  height: 75px;
  border: 2px solid;
  border-color: rgba(15, 104, 156, 0.25);
  border-radius: 5px;
  outline: none;
  transition: all 0.5s;
}

.field textarea:focus {
  background-color: #fff;
  border: 2px solid rgba(15, 104, 156, 0.17);
  transition: all 0.3s;
}

.field textarea:hover {
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.3s;
}

.comment {
  background-color: #fff;
  border: 1px solid rgba(15, 104, 156, 0.17);
  width: 700px;
  margin: 15px 0;
  padding: 20px;
  border-radius: 5px;
  color: #041B29;
}

p.comment-details {
  margin-top: 10px;
  font-size: 10pt;
  color: #999;
}

#filter-option {
  text-align: center;
}

@media (max-width: 790px) {
  .listing-container {
    padding: 0;
  }

  .listing {
    height: 250px;
    width: 250px;
  }

  .listing-title {
    width: 150px;
  }

  .listing a {
    width: 175px;
  }

  .listing-description {
    height: 9em;
  }

  .field textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .comment {
    width: 100%;
    box-sizing: border-box;
  }
}